body {
  margin: 0;
  padding: 0;
  background-color: #f7f9fc;
  color: black;
  box-sizing: border-box;
}
header {
  background-color: #007bff;
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 15px;
  align-items: center;
  text-align: center;
}
.container {
  width: 50%;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
  margin-right: 25%;
  margin-left: 25%;
  padding: 10px;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 9px;
  margin-bottom: 10px;
}
.items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 15px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0 0 0 / 31%);
}
.formItem {
  display: inline;
  padding: 8px;
}
.add {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 9px;
  margin-bottom: 10px;
}
label {
  font-weight: bold;
  margin-right: 5px;
  max-width: 100%;
  flex: 1;
}
select {
  padding: 9px 13px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
  max-width: 100%;
  flex: 1;
}
p {
  margin: 0;
  font-size: 15px;
  flex: 1;
  padding: 10px;
  padding-top: 13px;
  max-width: 100%;
  flex: 1;
}
input {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  max-width: 100%;
  flex: 1;
}
.submit {
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 25px;
  transition: background 0.2s;
  background-color: #007bff;
  color: white;
  max-width: 100%;
  flex: 1;
}
.submit:hover {
  background-color: green;
  cursor: pointer;
}
.delete {
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 25px;
  transition: background 0.2s;
  background-color: #007bff;
  margin-top: 1%;
  margin-right: 4px;
  color: white;
  max-width: 100%;
}
.delete:hover {
  background-color: red;
  cursor: pointer;
}
.box:last-of-type {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  flex: 1;
  min-width: 150px;
}

@media (max-width: 768px) {
  .items {
    flex-direction: column;
    align-items: stretch;
  }

  .items p {
    margin-bottom: 10px;
  }

  .items form {
    flex-direction: column;
    align-items: stretch;
  }

  button {
    width: 100%;
  }

  .box form:last-of-type {
    flex-direction: column;
  }
}

footer {
  text-align: center;
  padding: 15px;
  background: #007bff;
  color: #f7f9fc;
  margin-top: 30px;
}
